<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<header>


    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Escalade-Oc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/acceuil}">Acceuil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/topos}">Topo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/sites}">Recherche sites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/list-site}">Mes sites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reservations}">les reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/compte}">Compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/signup}">signup</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" sec:authorize="hasAuthority('ADMINSTRATOR')" th:href="@{/auth/admin/adminHome}">admin
                        login</a>
                </li>-->
            </ul>
        </div>
    </nav>
</header>

</body>
</html>