<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div th:include="navbar"></div>
</header>
<br>
<br>
<br>
<div class="container" th:action="@{/site}" th:object="${site}">
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>site</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="40%">cotation</th>
                    <th width="30%">longueur</th>
                    <th width="30%">secteur</th>
                </tr>
                </thead>
                <tbody>
                <th>
                    <span th:text="${site.cotation}"/>
                </th>

                <th>
                    <span th:text="${site.longueur}"/>
                </th>


                <th>
                    <span th:text="${site.ville}"/>
                </th>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <a type="button" class="btn btn-primary btn-md" th:href="@{/list-site/{id}/add-commentaire(id=${site.id})}">Ajouter
            un commentaire</a>
    </div>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Liste des commentaires</h3>
        </div>
        <div class="panel-body">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="20%">Commentaire</th>
                    <th width="20%">Date du commentaire</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="commentaire : ${commentaires}">
                    <tr>
                        <td th:text="${commentaire.texteCommentaire}"></td>
                        <td th:text="${commentaire.targetDate}" pattern="dd/MM/yyyy"></td>
                        <td>
                        <a  type="button" class="btn btn-warning btn-md" th:href="@{/list-site/{siteId}/update-commentaire/{commentaireId}(siteId=${site.id} , commentaireId=${commentaire.id})}">Modifier</a>
                        </td>
                        <td>
                        <a type="button" class="btn btn-danger btn-md" th:href="@{/list-site/{siteId}/delete-commentaire/{commentaireId}(siteId=${site.id} , commentaireId=${commentaire.id})}">Supprimer</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <a type="button" class="btn btn-primary btn-md" th:href="@{/list-site/{id}/add-topo(id=${site.id})}">Ajouter un
            topo</a>
    </div>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Liste des topos</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="40%">Description</th>
                    <th width="20%">Texte</th>
                    <th width="20%">Date du topo</th>
                    <th width="20%">Adresse</th>
                    <th width="20%">Disponible</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="topo : ${topos}">
                    <tr>
                        <td th:text="${topo.descriptionTopo}"></td>
                        <td th:text="${#strings.abbreviate(topo.texteTopo, 100)}"></td>
                        <td th:text="${#dates.format(topo.targetDateTopo, 'dd-MM-yyyy')}"></td>
                        <td th:text="${topo.adresse}"></td>
                        <td>
                            <a  type="button" class="btn btn-primary btn-md" th:href="@{/list-site/{siteId}/list-topo/{topoId}/add-reservation(siteId=${site.id} , topoId=${topo.id})}"
                                th:text="${topo.finiTopo} ? 'pret' : 'pas fini'"/>
                        </td>
                        <td>
                            <a  type="button" class="btn btn-warning btn-md" th:href="@{/list-site/{siteId}/list-topo/{topoId}/add-reservation(siteId=${site.id} , topoId=${topo.id})}"
                               th:text="${topo.disponibleTopo} ? 'Indisponible' : 'Disponible'"/>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>