<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div th:include="navbar"></div>
</header>
<!--<div th:insert="layout :: copy">...</div>
<div th:insert="navbar :: copy">...</div>-->
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${param.success}">
                <div class="alert alert-info">Bravo tu es enregistre futur alpiniste:)</div>
            </div>

            <h1>Registration</h1>
            <form th:action="@{/signup}" th:object="${userForm}" method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Erreur validation.
                </p>

                <div class="form-group" th:classappend="${#fields.hasErrors('prenom')}? 'has-error':''">
                    <label for="prenom" class="control-label">prenom</label> <input
                        id="prenom" class="form-control" th:field="*{prenom}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('prenom')}"
                       th:text="${error}">Erreur validation</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('nom')}? 'has-error':''">
                    <label for="nom" class="control-label">Nom</label>
                    <input id="nom" class="form-control" th:field="*{nom}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('nom')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('numero_telephone')}? 'has-error':''">
                    <label for="numero_telephone" class="control-label">Numero de telephone</label>
                    <input id="numero_telephone" class="form-control" th:field="*{numero_telephone}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('numero_telephone')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="email" class="control-label">E-mail</label> <input
                        id="email" class="form-control" th:field="*{email}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('email')}" th:text="${error}">erreur de validation</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                    <label for="confirmEmail" class="control-label">Confirmation email</label> <input id="confirmEmail"
                                                                                                      class="form-control"
                                                                                                      type="email"
                                                                                                      th:field="*{confirmEmail}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmEmail')}"
                       th:text="${error}">erreur de validation</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Password</label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">erreur validation</p>
                </div>
                <div class="form-group">
                    <span>vous etes enregistrer ? <a href="/" th:href="@{/login}">page de connexion</a></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success" href="/" th:href="@{/compte}">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- <div th:insert="navbar :: copy">...</div>-->
    </div>
</div>


</body>
</html>