<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <!--  <style href="src/main/resources/stylesheet/application.css" type="text/css"></style>-->
</head>
<body>
<header>
    <div th:include="navbar"></div>
</header>
<br>
<br>
<br>
<div class="container">
    <div>
        <a type="button" class="btn btn-primary btn-md" href="/add-site">Ajouter un site</a>
    </div>


    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Liste des Sites</h3>
        </div>
        <div class="panel-body">
            <form th:action="@{/sites}" method="get">
                <table class="table table-striped">
                    <!--   <th:block  th:each="site : ${sites}" >
                           <tr>-->
                    <tr>
                        <td width="40%">
                            <select name="cotation" th:selected="${site.cotation}">
                                <option th:value="aucune">aucune</option>
                                <option th:value="1">1</option>
                                <option th:value="2">2</option>
                                <option th:value="3">3</option>
                                <option th:value="4">4</option>
                                <option th:value="5">5</option>
                                <option th:value="5">5+</option>
                                <option th:value="6a">6a</option>
                                <option th:value="6b">6b</option>
                                <option th:value="7a">7a</option>
                                <option th:value="7b">7b</option>
                                <option th:value="8a">8a</option>
                                <option th:value="8b">8b</option>
                                <option th:value="9a">9a</option>
                            </select>
                        </td>


                        <td width="35%">
                            <select name="longueur" th:selected="${site.longueur}">
                                <option th:value="aucune">aucune</option>
                                <option th:value="1">1</option>
                                <option th:value="2">2</option>
                                <option th:value="3">3</option>
                                <option th:value="4">4</option>
                                <option th:value="5">5</option>
                                <option th:value="5">5</option>
                                <option th:value="6">6a</option>
                                <option th:value="7">7</option>
                                <option th:value="7">7</option>
                                <option th:value="8">8</option>
                                <option th:value="9">9</option>
                            </select>
                        </td>

                        <td width="40%">
                            <select name="ville" th:selected="${site.ville}">
                                <option th:value="aucune">aucune</option>
                                <option th:value="paris">paris</option>
                                <option th:value="marseille">marseille</option>
                                <option th:value="lyon">lyon</option>
                                <option th:value="lille">lille</option>
                                <option th:value="brest">brest</option>
                                <option th:value="bordeaux">bordeaux</option>
                            </select>
                        </td>

                        <td>
                            <button class="btn btn-warning"
                                    style="border-radius: 3px; padding: 10px 40px; margin-bottom: 10px;" type="submit">
                                recherche
                            </button>
                        </td>
                    </tr>
                    <!--    </th:block>-->
                </table>
            </form>
            <table class="table table-striped">

                <thead>
                <tr>
                    <th width="40%">cotation</th>
                    <th width="30%">longueur</th>
                    <th width="30%">secteur</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="site : ${sites}">
                    <tr>
                        <td th:text="${site.cotation}"></td>
                        <td th:text="${site.longueur}"></td>
                        <td th:text="${site.ville}"></td>
                        <td>
                            <button class="btn btn-warning"
                                    style="border-radius: 3px; padding: 10px 40px; margin-bottom: 10px;">
                                <a th:href="@{/show-site/{id}(id=${site.id})}">Site</a>
                            </button>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{/sites/update-statutsite/{siteId}(siteId=${site.id})}"
                               th:text="${site.valideSite} ? 'Officiel Les amis de l’escalade' : 'site classique'"/>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>